*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
}

html,body{
	height: 100%;
}

.container{
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

header{
	width: 100%;
	height: 90vh;
	min-height: 500px;
	padding: 40px 2%;
	background-size: cover;
	background-image: url(../imagens/capa.png);
	background-position: center;
}

.container-flex-header{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}

.logo{
	color: white;
	font-size: 30px;
}

.menu ul li{
	display: inline-block;
	padding: 0 20px;
}

.menu ul li a{
	color: white;
	font-size: 16px;
	text-decoration: none;
	font-weight: lighter;
}

.menu ul li a:hover{
	color: #ddd;
}

.flex-content-header{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	max-height: 300px;
	min-height: 250px;
	height: 100vh;
}

.content-header{
	color: white;
	padding-right: 10%;
}

.content-header h2{
	font-size: 40px;
	font-weight: lighter;
}

.content-header p{
	width: 100%;
	max-width: 600px;
	font-size: 15px;
	font-weight: lighter;
}

.container-section{
	max-width: 1000px;
	margin: 0 auto;
}

 section.section-1{
	background-color: #472562;
} 

.section-1-flex{
	display: flex;
	justify-content: space-between;
}

.content-section-1{
	color: white;
}

.content-section-1 h2{
	font-weight: lighter;
	margin-bottom: 20px;
}

.content-section-1 p{
	font-size: 13px;
}

.content-section-1 nav ul li{
	font-size: 13px;
	list-style-position: inside;
}

.content-section-1 button{
	background-color: #FF703D;
	border: 0;
	padding: 10px 20px;
	color: white;
	font-size: 16px;
	margin-top: 10px;
	border-radius: 20px;
	cursor: pointer;
	
}

.content-section-1 button:hover{
	border: 1px solid #e9612f;
}

.img-section-1{
	max-width: 400px;
	min-width: 260px;
	width: 50%;
	height: 300px;
	background-image: url('../imagens/device.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
}