*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
}

html,body{
	height: 100%;
}

.container{
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

header{
	width: 100%;
	height: 90vh;
	min-height: 500px;
	padding: 40px 2%;
	background-size: cover;
	background-image: url(../imagens/capa.png);
	background-position: center;
}

.container-flex-header{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 10px;
	
}

.logo{
	color: white;
	font-size: 30px;
}

.menu-desktop ul li{
	display: inline-block;
	padding: 0 20px;
}

.menu-desktop ul li a{
	color: white;
	font-size: 16px;
	text-decoration: none;
	font-weight: lighter;
}

.menu-desktop ul li a:hover{
	color: #ddd;
}

.menu-mobile{
	display: none;
	background-image: url(../imagens/menu.png);
	background-size: 100% 100%;
	width: 32px;
	height: 32px;
	cursor: pointer;
	
}


.menu-mobile ul{
	display: none;
}

.menu-mobile ul li {
	font-weight: 300;
	list-style-type: none;
}

.menu-mobile ul li a{
	text-decoration: none;
	color: white;
}


.flex-content-header{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	max-height: 300px;
	min-height: 250px;
	height: 100vh;
}

.content-header{
	color: white;
	padding-right: 10%;
}

.content-header h2{
	font-size: 40px;
	font-weight: lighter;
}

.content-header p{
	width: 100%;
	max-width: 600px;
	font-size: 15px;
	font-weight: lighter;
}

.container-section{
	max-width: 1000px;
	margin: 0 auto;
}

 section.section-1{
	background-color: #472562;
} 

.section-1-flex{
	display: flex;
	justify-content: space-between;
	padding: 20px 20px 0 20px;
}

.content-section-1{
	color: white;
}

.content-section-1 h2{
	font-weight: lighter;
	font-size: 26px;
	margin-bottom: 20px;
}

.content-section-1 p{
	font-size: 15px;
}

.content-section-1 nav ul li{
	font-size: 15px;
	list-style-position: inside;
}

.content-section-1 button{
	background-color: #FF703D;
	border: 0;
	padding: 10px 20px;
	color: white;
	font-size: 16px;
	margin-top: 10px;
	border-radius: 20px;
	cursor: pointer;
	
}

.content-section-1 button:hover{
	border: 1px solid #e9612f;
}

.img-section-1{
	max-width: 400px;
	min-width: 260px;
	width: 50%;
	height: 300px;
	background-image: url('../imagens/device.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.section-2{
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}

.flex-section-2{
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0 2%;
}

.content-section-2{
	text-align: center;
}

.content-section-2 h2{
	font-weight: 300;
	color: #472562;
	padding: 20px 0;
}

.content-section-2 p{
	max-width: 900px;
	color: #2c173d;
}

.content-section-2 img{
	width: 100%;
	position: relative;
	top: 70px;
}

.flex-section-3{
	display: flex;
	flex-direction: row;
	
}

.clear{
	clear: both;
}

.content-section-3{
	width: 50%;
	padding-top: 130px;
	padding-bottom: 90px;
	background-color: #835FA7;
	padding-right: 2%;
}

.p2{
	background-color: white;
}

.box1{
	max-width: 600px;
	color: white;
	float: right;
}

.box1 h2{
	font-weight: 300;
	margin-bottom: 15px;
	font-style: italic;
}

.box1 p{
	font-size: 14px;
	line-height: 40px;
}

.box2{
	max-width: 600px;
}

.box2 .author{
	display: flex;
	align-items: center;
}

.box2 .author h2{
	font-weight: normal;
	font-size: 22px;
	color: #222;
}

.box2 .author p {
	font-style: italic;
	font-size: 14px;
	color: rgb(104, 96, 96);
	font-weight: 300;
	padding-top: 3px;
}

.box2 .image{
	margin-left: 15px;
	width: 50px;
	height: 50px;
	background-image: url("../imagens/Hugo\ Fernando.jpeg");
	background-size: cover;
	background-position: center;
	border-radius: 50%;
}

.box2 p {
	font-size: 15px;
	color: #222;
	padding-top: 15px;
}

.box2  .slide span{
	margin-top: 10px;
	margin-right: 5px;
	display: inline-block;
	background-color: #ccc;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	cursor: pointer;
}

.box2  .slide span:first-of-type{
	background-color: black;
}

.section-4{
	width: 100%;
	background-color: #472563;
	padding-top: 100px;
	padding-bottom: 90px;
}

.flex-section-4{
	display: flex;
}

.content-section-4{
	width: 50%;
	padding-left: 2%;
}

.box1-f4{
	color: white;
	float: right;
	max-width: 500px;
	margin-right: 15%;
}

.box1-f4 h2{
	font-weight: 300;
	font-size: 23px;
}

.box1-f4 p{
	font-size: 15px;
	font-weight: 300;
	max-width: 380px;
	display: inline-block;
}

.form-section-4 textarea{
	max-width: 480px;
	width: 100%;
	resize: none;
	height: 150px;
	padding: 15px;
	margin-top: 8px;
}

.form-section-4 input{
	width: 100%;
	max-width: 480px;
	padding: 15px;
	outline: 0;
	margin-top: 8px;
} 

.form-section-4 input[type=submit]{
	background-color: #FF703D;
	border: 0;
	padding: 10px 20px;
	color: white;
	font-size: 16px;
	margin-top: 10px;
	border-radius: 20px;
	cursor: pointer;
	max-width: 160px;
	width: 100%;
	
}

.form-section-4 input[type=submit]:hover{
	border: 1px solid #e9612f;
}

.box2-f4 h2{
	color: white;
	font-weight: 300;
	font-size: 23px;
	margin-bottom: 10px;
}

.box2-f4 .map{
	max-width: 460px;
	max-height: 460px;
	min-width: 350px;
	min-height: 350px;
	width: 35vw;
	height: 35vw;
	border: 5px solid #ccc;
	display: inline-block;
}


.box2-f4 .map2{
	width: 100%;
	height: 100%;
	background-color: white;
}

footer{
	background-color: #192123;
}

.flex-footer{
	display: flex;
	justify-content: space-around;
	padding: 40px 0;
	color: white;
}

.flex-footer p{
	font-weight: 300;
	font-size: 15px;
}


@media screen and (max-width:768px){

	header{
		height: 70vh;	
	}

	.flex-content-header{
		height: 0px;
		text-align: center;
		justify-content: center;
		align-items: flex-end;
	}

	.content-header{
		padding-right: 0;
	}

	.content-header h2{
		font-size: 30px;
	}

	section.section-1{
		background-color: #472562;
		padding: 20px 0;
	} 

	.section-1-flex{
		display: flex;
		justify-content: center;
		padding: 8px 0;
		text-align: center;
	}

	.content-section-1 nav ul li{
		text-align: justify;
		padding-left: 35%;
		margin-top: 8px;
	}

	.img-section-1{
		display: none;
	}

	.flex-section-4{
		flex-direction: column;
		justify-content: center;
	}
	
	.content-section-4{
		width: 100%;
		padding-left: 0;
		text-align: center;
	}

	.box1-f4{
		padding:2%;
		float: none;
		display: inline-block;
		margin-right: 0;
		
	}

	.box2-f4 {
		padding:2%;
	}

	.box2-f4 h2{
		margin-top: 50px;
	}

	.box2-f4 .map{
		max-width: 450px;
		max-height: 450px;
		width: 90%;
		height: 86vw;
		border: 5px solid #ccc;
		display: inline-block;
	}

	.flex-footer{
		flex-direction: column;
		align-items: center;
	}

	.flex-footer p{
		padding: 5px;
	}
}

@media screen and (max-width:700px){
	.menu-desktop{
		display: none;
	}

	.menu-mobile{
		display: block;
		margin-right: 2%r;
	}
}

@media screen and (max-width: 580px){
	.flex-section-3{
		flex-direction: column;
	}

	.content-section-3{
		width: 100%;
		padding: 90px 2% 50px 2%;
	}
	
}